.profile-info-container {
  width: 50%;
  margin-top: 100px;
  position: absolute;
  left: 35%;
}

.profile-info-img {
  width: 30%;
}

.profile-info-img img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.profile-info-desc {
  width: 70%;
}

.formEdit {
  margin-top: 80px;
  height: 600px;
  width: 400px;
}

.formEdit-container img {
  width: 50px;
  border-radius: 30px;
}

.formEdit-container > input {
  border: 1px solid #373737;
  border-radius: 2px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

.formEdit-container > input::placeholder {
  color: white;
}

.profile-posts-container {
  width: 1000px;
  margin-top: 400px;
  position: absolute;
  top: 10;
  left: 25%;
  border-top: 1px solid white;
}

.single-post img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: fill;
}

.formEdit-container label {
  padding: 8px 12px;
  margin: 10px;
}

.formEdit-container label:hover {
  opacity: 80%;
  cursor: pointer;
}
